$font-base: 'Amaranth', sans-serif;

$font-size-text: 16px;
$font-size-title: 23px;
$font-size-carrousel-title: 21px;
$font-size-subtitle: 13px;

$color-body: #ecf1f7;
$color-primary: #494949;
$color-dark: #051a2f;
$color-light: #e2e2e2;
$color-white: #fff;
$color-title-section: #2e2b48;
$color-active: #302c4c;
$color-star: #63c666;
$color-galaxy: #ed604f;
$color-blackhole: #f47f32;
$color-footer: #25272c;

$spacing-xxs: 0.2rem;
$spacing-xs: 0.5rem;
$spacing-s: 1rem;
$spacing-m: 2rem;
$spacing-mm: 3rem;
$spacing-l: 4rem;

$header-height-mobile: 13rem;
$header-height-desktop: 20rem;
