@use '../base/variables';
@use '../base/mixins';
@use '../base/functions';

.footer {
  background-color: variables.$color-footer;
  color: variables.$color-white;
  padding: variables.$spacing-s;

  @include mixins.breakpoint(tablet) {
    padding: variables.$spacing-l;
  }

  &__container {
    max-width: 1200px;
    margin: 0 auto;
  }

  &__columns {
    display: grid;
    gap: variables.$spacing-s;

    @include mixins.breakpoint(tablet) {
      grid-template-columns: 1fr 1fr 1.5fr;
      gap: 0;
    }
  }

  &__title {
    font-size: functions.rem(18);
    margin-bottom: 16px;
    font-weight: 600;
  }

  &__list {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__link {
    color: variables.$color-white;
    text-decoration: none;
    opacity: 0.8;
    transition: opacity 0.2s;
    font-size: variables.$font-size-subtitle;
    line-height: 1;

    &:hover,
    &:focus {
      opacity: 1;
    }
  }

  &__text {
    opacity: 0.8;
    font-size: variables.$font-size-text;
    line-height: 1.5;
  }

  &__bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-self: center;
    text-align: center;

    @include mixins.breakpoint(tablet) {
      // flex-direction: row;
      // justify-content: space-between;
    }
  }

  &__socials {
    display: flex;
    gap: variables.$spacing-s;
    margin: variables.$spacing-s 0;
  }

  &__social {
    width: variables.$spacing-m;
    height: variables.$spacing-m;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: variables.$spacing-xs;
    border: 1px solid variables.$color-light;
    border-radius: 50%;

    &-icon {
      filter: invert(1);
      opacity: 0.7;
      transform: scale(1);
    }
  }

  &__copyright {
    opacity: 0.4;
    font-size: functions.rem(14);
  }
}
