@use '../base/variables';
@use '../base/mixins';
@use '../base/functions';

.header {
  color: variables.$color-light;
  background: variables.$color-dark url(/src/assets/images/header-background.png) center center
    no-repeat;
  background-size: cover;

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: variables.$header-height-mobile;

    @include mixins.breakpoint(desktop) {
      height: variables.$header-height-desktop;
    }
  }

  &__title {
    height: 100%;
    display: flex;
    align-items: center;
    font-size: functions.rem(40);
    font-weight: 400;

    @include mixins.breakpoint(desktop) {
      font-size: functions.rem(55);
    }
  }
}
