@use '../base/variables';

.nav {
  position: sticky;
  top: 0;
  z-index: 2;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  &__list {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: variables.$color-dark;
  }

  &__item {
    &:last-child {
      margin-left: auto;
    }
  }

  &__tab {
    display: block;
    background: transparent;
    border: none;
    color: variables.$color-light;
    font-weight: 500;
    cursor: pointer;
    padding: variables.$spacing-xs variables.$spacing-s;
    transition:
      background-color 0.2s,
      color 0.2s;

    &--active {
      background: variables.$color-active;
      color: variables.$color-light;
    }

    &:hover {
      background: rgba(255, 255, 255, 0.15);
    }
  }
}
