<div class='carrousel'>

  <h2 class='carrousel__title carrousel__title--section'>Carrousel - vignette simple</h2>

  <div class='carrousel__swiper swiper'>
    <div class='swiper-wrapper'>

      <div class='swiper-slide'>
        <article class='carrousel__card'>
          <img
            class='carrousel__image'
            src='https://media.istockphoto.com/id/2198703702/fr/photo/plan%C3%A8te-terre-nocturne-mod%C3%A8le-de-banni%C3%A8re-spatiale-asie.webp?a=1&b=1&s=612x612&w=0&k=20&c=457fqvsXQKVfIJt8RE5-sOZGdU6czm5AsGX_YNCXCe8='
            alt='Blue supergiant star'
          />
          <div class='carrousel__body'>
            <h3
              class='carrousel__title carrousel__title--card'
              aria-label='BLUE SUPERGIANT STAR'
              title='BLUE SUPERGIANT STAR'
            >
              BLUE SUPERGIANT STAR
            </h3>
            <p class='carrousel__category carrousel__category--star'>Star</p>
            <p class='carrousel__description'>
              A blue supergiant (BSG) is a hot, luminous star, often referred to as an OB
              supergiant. They have luminosity class I and spectral class B9 or earlier.
            </p>
          </div>
          <div class='carrousel__footer'>
            <button class='carrousel__button'>voir plus</button>
          </div>
        </article>
      </div>

      <div class='swiper-slide'>
        <article class='carrousel__card'>
          <img
            class='carrousel__image'
            src='https://media.istockphoto.com/id/2222660797/fr/photo/flux-de-donn%C3%A9es-global.webp?a=1&b=1&s=612x612&w=0&k=20&c=kJREcrCpptvYiLSSa2LmDn1Qx3XySGsYRj9BcjsQ70Q='
            alt='Milky Way'
          />
          <div class='carrousel__body'>
            <h3
              class='carrousel__title carrousel__title--card'
              aria-label='MILKY WAY'
              title='MILKY WAY'
            >
              MILKY WAY
            </h3>
            <p class='carrousel__category carrousel__category--galaxy'>Galaxy</p>
            <p class='carrousel__description'>
              The Milky Way is the galaxy that contains our Solar System, with the name describing
              the galaxy’s appearance from Earth.
            </p>
          </div>
          <div class='carrousel__footer'>
            <button class='carrousel__button'>voir plus</button>
          </div>
        </article>
      </div>

      <div class='swiper-slide'>
        <article class='carrousel__card'>
          <img
            class='carrousel__image'
            src='https://media.istockphoto.com/id/2224484854/fr/photo/globe-de-la-communication-num%C3%A9rique-et-de-la-technologie.webp?a=1&b=1&s=612x612&w=0&k=20&c=M0iw8rwB1h_eEP3IATYnGE7zhAhUa1SbowI2GUoFGn4='
            alt='Supermassive black hole'
          />
          <div class='carrousel__body'>
            <h3
              class='carrousel__title carrousel__title--card'
              aria-label='SUPERMASSIVE BLACK HOLE'
              title='SUPERMASSIVE BLACK HOLE'
            >
              SUPERMASSIVE BLACK HOLE
            </h3>
            <p class='carrousel__category carrousel__category--blackhole'>Black hole</p>
            <p class='carrousel__description'>
              A supermassive black hole is the largest type of black hole, with mass on the order of
              millions to billions of times the mass of the Sun.
            </p>
          </div>
          <div class='carrousel__footer'>
            <button class='carrousel__button'>voir plus</button>
          </div>
        </article>
      </div>

      <div class='swiper-slide'>
        <article class='carrousel__card'>
          <img
            class='carrousel__image'
            src='https://media.istockphoto.com/id/2198703702/fr/photo/plan%C3%A8te-terre-nocturne-mod%C3%A8le-de-banni%C3%A8re-spatiale-asie.webp?a=1&b=1&s=612x612&w=0&k=20&c=457fqvsXQKVfIJt8RE5-sOZGdU6czm5AsGX_YNCXCe8='
            alt='Blue supergiant star'
          />
          <div class='carrousel__body'>
            <h3
              class='carrousel__title carrousel__title--card'
              aria-label='BLUE SUPERGIANT STAR'
              title='BLUE SUPERGIANT STAR'
            >
              BLUE SUPERGIANT STAR
            </h3>
            <p class='carrousel__category carrousel__category--star'>Star</p>
            <p class='carrousel__description'>
              A blue supergiant (BSG) is a hot, luminous star, often referred to as an OB
              supergiant. They have luminosity class I and spectral class B9 or earlier.
            </p>
          </div>
          <div class='carrousel__footer'>
            <button class='carrousel__button'>voir plus</button>
          </div>
        </article>
      </div>

      <div class='swiper-slide'>
        <article class='carrousel__card'>
          <img
            class='carrousel__image'
            src='https://media.istockphoto.com/id/2222660797/fr/photo/flux-de-donn%C3%A9es-global.webp?a=1&b=1&s=612x612&w=0&k=20&c=kJREcrCpptvYiLSSa2LmDn1Qx3XySGsYRj9BcjsQ70Q='
            alt='Milky Way'
          />
          <div class='carrousel__body'>
            <h3
              class='carrousel__title carrousel__title--card'
              aria-label='MILKY WAY'
              title='MILKY WAY'
            >
              MILKY WAY
            </h3>
            <p class='carrousel__category carrousel__category--galaxy'>Galaxy</p>
            <p class='carrousel__description'>
              The Milky Way is the galaxy that contains our Solar System, with the name describing
              the galaxy’s appearance from Earth.
            </p>
          </div>
          <div class='carrousel__footer'>
            <button class='carrousel__button'>voir plus</button>
          </div>
        </article>
      </div>

      <div class='swiper-slide'>
        <article class='carrousel__card'>
          <img
            class='carrousel__image'
            src='https://media.istockphoto.com/id/2224484854/fr/photo/globe-de-la-communication-num%C3%A9rique-et-de-la-technologie.webp?a=1&b=1&s=612x612&w=0&k=20&c=M0iw8rwB1h_eEP3IATYnGE7zhAhUa1SbowI2GUoFGn4='
            alt='Supermassive black hole'
          />
          <div class='carrousel__body'>
            <h3
              class='carrousel__title carrousel__title--card'
              aria-label='SUPERMASSIVE BLACK HOLE'
              title='SUPERMASSIVE BLACK HOLE'
            >
              SUPERMASSIVE BLACK HOLE
            </h3>
            <p class='carrousel__category carrousel__category--blackhole'>Black hole</p>
            <p class='carrousel__description'>
              A supermassive black hole is the largest type of black hole, with mass on the order of
              millions to billions of times the mass of the Sun.
            </p>
          </div>
          <div class='carrousel__footer'>
            <button class='carrousel__button'>voir plus</button>
          </div>
        </article>
      </div>

    </div>
  </div>
  <button class='carrousel__prev'><img
      src='/arrow-prev.svg'
      class='carrousel__arrow'
      alt='Go to next slide'
    /></button>
  <button class='carrousel__next'><img
      src='/arrow-next.svg'
      class='carrousel__arrow'
      alt='Go to previous slide'
    /></button>

</div>