<nav class='nav'>
  <ul class='nav__list'>
    <li class='nav__item'>
      <a
        href='#carousel-1'
        class='nav__tab nav__tab--active'
        data-target='carousel-1'
        title='Quick access to Carrousel #1'
      >
        Carrousel
      </a>
    </li>
    <li class='nav__item'>
      <a
        href='#carousel-2'
        class='nav__tab'
        data-target='carousel-2'
        title='Quick access to Carrousel #2'
      >Carrousel 2</a>
    </li>
    <li class='nav__item'>
      <a href='#footer' class='nav__tab' data-target='footer'>Footer</a>
    </li>
  </ul>
</nav>